<div class="wrapper">
	<div class="wrapperInner">
		
		<div class="head">
			
			<div class="headInner">
				
				<div class="icono" (click)=" backToChats() "><i class="icon ion-ios-arrow-back"></i></div>
				<div class="title">Pikachu</div>
				<div class="icono"><i class="icon ion-ios-telephone-outline"></i></div>
				
			</div>

		</div>

		<div class="body">
			
			<chat-cell></chat-cell>
			<chat-cell></chat-cell>
			<chat-cell></chat-cell>
			<chat-cell></chat-cell>


		</div>

		<div class="footer">
			<div class="footerInner">
				<textarea rows="1" class="textInput"></textarea>
				<i class="send icon ion-ios-paperplane"></i>
			</div>
		</div>


	</div>
</div>