
//wrapper
.wrapper{
	.wrapperInner{

	}
}

//head
.head{
	//fixes
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
	
	//pew pew
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	
	.headInner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		.title{
			font-family: Roboto;
			font-size: 1.5rem;
			font-weight: 300;
			color: rgba(0, 0, 0, 0.5);
		}
		.icono{
			font-size: 1.8rem;
			color: rgba(0, 0, 0, 0.5);
		}
	}	
}


//body

.body{
	margin: 67px 0 53px 0;
}

.footer{
	//fixes
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;

	//
	border-top: 1px solid rgba(0, 0, 0, 0.2);

	display: flex;
	.footerItem{
		flex: 1;

		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		font-size: 2rem;
		padding: 0.5rem;

		&.active{
			color: #4033D8;
		}
	}
}


























