<div class="wrapper">
	<div class="wrapperInner">
		
		<div class="head">
			
			<div class="headInner">
				<div class="title">Messages</div>
				<div class="icono"><i class="icon ion-compose"></i></div>
			</div>

		</div>

		<div class="body">
			<list-cell (click)=" openChat() "></list-cell>

		</div>

		<div class="footer">
			<div class="footerItem">
				<i class="icon ion-ios-information-outline"></i>
			</div>
			<div class="footerItem active">
				<i class="icon ion-ios-star"></i>
			</div>
			<div class="footerItem">
				<i class="icon ion-ios-bookmarks"></i>
			</div>
		</div>


	</div>
</div>